.containerContent{
  Margin:0px 60px;
  a{
    color:white;
    &:hover{
      transition:0.2s;
      color:rgb(155, 144, 144);
    }
    
  }
  hr{
    color:white;
  }
  li{
      color: rgba(250, 250, 250, 0.855);
    }
  h1{
    color:var(--text-title)
  }
  h5{
    color:white;
    
  }
  strong {
    color: rgba(255, 231, 50, 0.805);
    margin-right: 5px;
  }
  
}