.Container{
    height:5rem;
    h1{
        color: var(--white);
        padding: 1rem 4rem 0rem 8rem;
    }
    a{
        color: rgba(217, 228, 118, 0.848);
        
        transition: color 0.2s;

        &:hover{
            color: rgba(255, 255, 255, 0.722);
        }
    }
 
}

.listCompanies{
    height:5rem;
    margin-left: 8rem;
    li{
        list-style-type: circle;
          
    }
    nav{
        margin-left: 5rem;
        height: 5rem;

        a{
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem;
            color:white;
        }
    }
   
}

